.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: rgb(0, 54, 75);
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow: scroll;
    transform: translate(-100%);
    transition: all 0.5s;
    opacity: 0;
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}

h2 {
   padding: 2rem; 
}

.library-song {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }
    &:hover {
        background: #cbe1e9;
        h3{
            font-size: 1rem;
            color: rgb(0, 54, 75);
        }
        h4{
             font-size: 0.7rem;
             color: rgb(0, 54, 75);
        }
    }
}

.song-description {
    padding-left: 1rem;
    h3{
        font-size: 1rem;
        color: rgb(253, 246, 246);
    }
    h4{
         font-size: 0.7rem;
         color: rgb(253, 246, 246);
    }
    
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(51, 230, 90, 0.5) transparent;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(223, 230, 236);
    border-radius: 20px;
  
    border: transparent;
}

.selected {
    background: #d5ecf3;
    h3{
        font-size: 1rem;
        color: #12354b;
    }
    h4{
         font-size: 0.7rem;
         color: #12354b;
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
   .library {
       width: 100%;
   }
}