nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: none;
        color: rgb(206, 211, 216);
        cursor: pointer;
        border: 2px solid rgb(206, 211, 216);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(248, 243, 243);
            color: rgba(48, 135, 235, 0.836);
        }
}
}

@media screen and (max-width: 768px) {
    nav{
        button{
            z-index: 10;
        }
    }
}