* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
    color: rgb(206, 211, 216);
}

body {
    font-family: 'Lato', sans-serif;
}

h3,h4 {
    font-weight: 400;
    color: rgba(224, 227, 231, 0.596);
}

.App {
    transition: all 0.5s ease;
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(#001624, #00c2ff);
}

.library-active{
    margin-left: 20%;
}




@import "./player";
@import "./song";
@import "./library";
@import "./nav";